body{
    padding: 16px 32px;
    background: #222522;
    color: white;
    font-family: cursor, monospace;
    overflow-x: hidden;
}

#command {
    cursor: text;
    height: 64px;
}

textarea{
    left: -1742px;
    position: absolute;
}

#cursor {
    margin-top: -4px;
    margin-left: 1px;
    position: relative;
    opacity: 1;
    transform: translateY(3px);
    overflow: hidden;
    text-indent: -4px;
    display: inline-block;
    animation: blinker 1s linear infinite;
}
@keyframes blinker { 50% { opacity: 0; } }

#current::before {
    content: "visitor@dominikhable.com:~$";
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}